.container {
  width: 100%;
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  main {
    margin: var(--lr-margin);
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul.cardsGrid {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      column-gap: var(--lr-margin);
      row-gap: var(--lr-margin);
    }
  }
}

@media (min-width: 768px) {
  .container {
    main {
      margin-top: 130px;
    }
  }
}

@media (min-width: 1440px) {
  .container {
    main {
      margin-left: calc((100vw - 1440px) / 2);
      width: 1440px;
    }
  }
}
